%span
  = link_to t('Scoreboard'), '#scores' #scores_path #TODO: add proper links after implementing functionality

%span
  = link_to t('Standings'), '#standings' #standings_path

%span
  = link_to t('TV Guide'), '#tv' #tv_path
